workflows/Niles-hybrid-with-contacts.json
{
  "name": "Niles AI Agent (Hybrid + Contacts)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1040,
        192
      ],
      "id": "4180efb0-0859-4a60-b1f0-950d3e0fafdf",
      "name": "When chat message received",
      "webhookId": "c8af9ddc-3a28-4114-ac8e-9e128243eec4"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Du bist ein WhatsApp-Nachrichtenparser. Extrahiere aus der Benutzeranfrage folgende Informationen und gib sie als JSON zurück:\n\n{\n  \"isGroup\": true/false,\n  \"target\": \"Gruppenname\" oder \"Telefonnummer\" oder \"Kontaktname\",\n  \"text\": \"Der zu sendende Nachrichtentext\"\n}\n\nREGELN:\n1. isGroup = true wenn der Benutzer \"Gruppe\" erwähnt oder einen Gruppennamen nennt\n2. isGroup = false wenn eine Telefonnummer ODER ein Kontaktname angegeben wird\n3. target = Gruppenname (z.B. \"Yolo Graz\") ODER Telefonnummer (normalisiert ohne +, 00, Leerzeichen) ODER Kontaktname (z.B. \"Max\", \"Gerald\")\n4. text = Der EXAKTE Nachrichtentext wie vom Benutzer formuliert\n\nBEISPIELE:\n\"sende an +436605875573 mit 'Hi'\" → {\"isGroup\": false, \"target\": \"436605875573\", \"text\": \"Hi\"}\n\"sende an Gruppe Familie mit 'Hallo!'\" → {\"isGroup\": true, \"target\": \"Familie\", \"text\": \"Hallo!\"}\n\"schreib der Yolo Graz Gruppe 'Hey Leute'\" → {\"isGroup\": true, \"target\": \"Yolo Graz\", \"text\": \"Hey Leute\"}\n\"sende an Max mit 'Treffen um 14 Uhr'\" → {\"isGroup\": false, \"target\": \"Max\", \"text\": \"Treffen um 14 Uhr\"}\n\"schick Gerald die Nachricht 'Bist du da?'\" → {\"isGroup\": false, \"target\": \"Gerald\", \"text\": \"Bist du da?\"}\n\nGib NUR das JSON zurück, keine zusätzlichen Erklärungen."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -720,
        192
      ],
      "id": "1c6daad3-67cb-46fe-a773-39eab64a4f18",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen2.5-coder-7b-instruct-mlx",
          "mode": "list",
          "cachedResultName": "qwen2.5-coder-7b-instruct-mlx"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -720,
        400
      ],
      "id": "ae79546a-9aaf-4c01-91d0-5db9982708e7",
      "name": "Qwen 2.5 7B MLX",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "openAiApi": {
          "id": "AqnBdqvoLrHHdaVG",
          "name": "Local Qwen"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent output\nconst aiOutput = $json.output || '';\n\n// Try to extract JSON from AI response\nlet parsed;\ntry {\n  // Remove markdown code blocks if present\n  const cleaned = aiOutput.replace(/```json\\n?|```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(`Failed to parse AI output as JSON: ${aiOutput}`);\n}\n\nconst isGroup = parsed.isGroup === true;\nconst target = parsed.target || '';\nconst text = parsed.text || '';\n\nif (!target || !text) {\n  throw new Error('AI did not extract target and text correctly');\n}\n\nreturn {\n  isGroup: isGroup,\n  target: target,\n  text: text,\n  // For phone: normalize the number\n  number: isGroup ? '' : target.replace(/[\\s\\+]/g, '').replace(/^00/, ''),\n  // For group: store name for matching\n  groupName: isGroup ? target.toLowerCase() : ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        192
      ],
      "id": "755eda90-c399-46fc-be72-93b4b862ed7b",
      "name": "Parse AI Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-is-group",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.isGroup }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        192
      ],
      "id": "7772b513-a264-4f95-852d-21327eaca0dc",
      "name": "Route: Group or Phone?"
    },
    {
      "parameters": {
        "url": "http://evolution_api:8080/group/fetchAllGroups/niles-whatsapp?getParticipants=false",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "d64a723e-3ec8-4c32-9eb1-5e1a5d83305c",
      "name": "Fetch WhatsApp Groups"
    },
    {
      "parameters": {
        "jsCode": "const groupName = $('Parse AI Output').first().json.groupName;\n\n// Get all groups from previous node (n8n splits array into multiple items)\nconst groups = $input.all().map(item => item.json);\n\nif (groups.length === 0) {\n  throw new Error('Keine WhatsApp-Gruppen verfügbar. Ist WhatsApp verbunden?');\n}\n\n// Find matching group using partial match (case-insensitive)\nconst matchedGroup = groups.find(g =>\n  (g.subject?.toLowerCase() || '').includes(groupName)\n);\n\nif (!matchedGroup) {\n  const availableGroups = groups.map(g => g.subject).filter(Boolean).join(', ');\n  throw new Error(`Gruppe \"${groupName}\" wurde nicht gefunden. Verfügbare Gruppen: ${availableGroups || '(keine)'}`);\n}\n\n// Return the group JID (format: 120363xxx@g.us)\nreturn {\n  number: matchedGroup.id,\n  text: $('Parse AI Output').first().json.text,\n  groupFound: true,\n  groupName: matchedGroup.subject\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "10d414b8-d4f4-413b-b7e3-8fe4f9a4e57b",
      "name": "Match Group by Name"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution_api:8080/message/sendText/niles-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        0
      ],
      "id": "0878166f-a4a7-4607-b3e2-4b9c6ca99cc2",
      "name": "Send to Group"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-is-number",
              "operator": {
                "name": "filter.operator.regex",
                "type": "string",
                "operation": "regex"
              },
              "leftValue": "={{ $json.target }}",
              "rightValue": "^\\+?\\d[\\d\\s-]+$"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -60,
        368
      ],
      "id": "check-name-or-number-node",
      "name": "Check: Name or Number?"
    },
    {
      "parameters": {
        "method": "PROPFIND",
        "url": "https://dav.mailbox.org/carddav/32",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "davApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Depth",
              "value": "1"
            },
            {
              "name": "Content-Type",
              "value": "application/xml; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text",
        "body": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<D:propfind xmlns:D=\"DAV:\">\n  <D:prop>\n    <D:displayname/>\n  </D:prop>\n</D:propfind>",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        200,
        520
      ],
      "id": "carddav-lookup-node",
      "name": "CardDAV Contact Lookup"
    },
    {
      "parameters": {
        "jsCode": "// Extract vCard URLs from PROPFIND - FIXED REGEX (namespace-agnostic)\nconst xml = $input.first().json.data || '';\nconst searchName = $('Parse AI Output').first().json.target?.toLowerCase() || '';\nconst messageText = $('Parse AI Output').first().json.text || '';\n\nconst MAX_CONTACTS = 50;\n\nconsole.log(`Searching for: \"${searchName}\"`);\n\nif (!xml || xml.length < 100) {\n  throw new Error('Keine XML-Daten von CardDAV erhalten. Prüfe Credentials und Adressbuch-ID.');\n}\n\n// FIXED: Namespace-agnostic regex for href with .vcf\n// Supports: <D:href>, <d:href>, <href>, with/without whitespace\nconst hrefRegex = /<(?:[dD]:)?href[^>]*>\\s*([^<]*\\.vcf)\\s*<\\/(?:[dD]:)?href>/gi;\n\nconst urls = [];\nlet match;\n\nwhile ((match = hrefRegex.exec(xml)) !== null && urls.length < MAX_CONTACTS) {\n  const url = match[1].trim();\n  if (url) {\n    urls.push(url);\n  }\n}\n\nif (urls.length === 0) {\n  console.error('ERROR: No .vcf URLs found in XML response!');\n  console.log('XML Preview:', xml.substring(0, 500));\n  \n  // Debug: Show what we can find\n  const anyHref = xml.match(/<[^>]*href[^>]*>/gi);\n  if (anyHref) {\n    console.log('Found href tags:', anyHref.slice(0, 3));\n  }\n  \n  throw new Error('Keine vCard-URLs gefunden. Prüfe die CardDAV Credentials und Adressbuch-ID (/carddav/32).');\n}\n\nconst total = (xml.match(/<(?:[dD]:)?href[^>]*>[^<]*\\.vcf[^<]*<\\/(?:[dD]:)?href>/gi) || []).length;\nconsole.log(`Processing ${urls.length} of ${total} contacts (parallel fetch)`);\n\n// Return URLs as separate items - n8n will process them in PARALLEL\nreturn urls.map(url => ({\n  json: {\n    contactUrl: url,\n    searchName: searchName,\n    text: messageText\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        520
      ],
      "id": "parse-urls-node",
      "name": "Parse Contact URLs"
    },
    {
      "parameters": {
        "url": "=https://dav.mailbox.org{{ $json.contactUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "davApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "vCardData"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        520
      ],
      "id": "get-vcard-node",
      "name": "Get vCard"
    },
    {
      "parameters": {
        "jsCode": "// Parse vCard from GET response\nconst vCardText = $json.vCardData || $json.data || '';\n\n// Get searchName and text from Parse Contact URLs using item index\nconst itemIndex = $itemIndex;\nconst parseContactUrlsItems = $items('Parse Contact URLs');\nconst searchName = parseContactUrlsItems[itemIndex]?.json.searchName?.toLowerCase() || '';\nconst messageText = parseContactUrlsItems[itemIndex]?.json.text || '';\n\nif (!vCardText.includes('BEGIN:VCARD')) {\n  return null; // Skip invalid vCards\n}\n\nconst lines = vCardText.split(/\\r?\\n/);\nconst contact = {\n  fullName: '',\n  firstName: '',\n  lastName: '',\n  phones: [],\n  emails: [],\n  searchName: searchName,\n  messageText: messageText\n};\n\nfor (const line of lines) {\n  // FN: Full Name\n  if (line.startsWith('FN:')) {\n    contact.fullName = line.substring(3).trim();\n  }\n  \n  // N: Structured Name (Lastname;Firstname;Middle;Prefix;Suffix)\n  if (line.startsWith('N:')) {\n    const parts = line.substring(2).split(';');\n    contact.lastName = (parts[0] || '').trim();\n    contact.firstName = (parts[1] || '').trim();\n  }\n  \n  // TEL: Phone (verschiedene Formate: TEL;TYPE=CELL:..., TEL:...)\n  if (line.startsWith('TEL')) {\n    const telMatch = line.match(/TEL[^:]*:(.+)/);\n    if (telMatch) {\n      const number = telMatch[1].trim();\n      const typeMatch = line.match(/TYPE=([^;:]+)/);\n      contact.phones.push({\n        number: number,\n        type: typeMatch ? typeMatch[1].toUpperCase() : 'OTHER'\n      });\n    }\n  }\n  \n  // EMAIL\n  if (line.startsWith('EMAIL')) {\n    const emailMatch = line.match(/EMAIL[^:]*:(.+)/);\n    if (emailMatch) {\n      contact.emails.push(emailMatch[1].trim());\n    }\n  }\n}\n\n// Only return contacts with a name\nif (!contact.fullName && !contact.firstName) {\n  return null;\n}\n\nreturn { json: contact };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        520
      ],
      "id": "parse-vcard-node",
      "name": "Parse vCard"
    },
    {
      "parameters": {
        "jsCode": "// Collect all parsed contacts and select best match\nconst contacts = $input.all().map(item => item.json);\nconst searchName = contacts[0]?.searchName?.toLowerCase() || '';\nconst messageText = contacts[0]?.messageText || '';\n\nif (contacts.length === 0) {\n  throw new Error(`No contacts found for: \"${searchName}\"`);\n}\n\nconsole.log(`Scoring ${contacts.length} contacts for search: \"${searchName}\"`);\n\n// Best Match Search with Scoring\nlet bestMatch = null;\nlet highestScore = 0;\n\nfor (const contact of contacts) {\n  const fullName = (contact.fullName || '').toLowerCase();\n  const firstName = (contact.firstName || '').toLowerCase();\n  const lastName = (contact.lastName || '').toLowerCase();\n  \n  // Scoring: exact match > contains > partial\n  let score = 0;\n  if (fullName === searchName) score = 100;\n  else if (fullName.includes(searchName)) score = 80;\n  else if (firstName === searchName || lastName === searchName) score = 70;\n  else if (firstName.includes(searchName) || lastName.includes(searchName)) score = 50;\n  \n  if (score > highestScore) {\n    highestScore = score;\n    bestMatch = contact;\n  }\n}\n\nif (!bestMatch || highestScore < 50) {\n  const availableContacts = contacts.map(c => c.fullName).filter(Boolean).join(', ');\n  throw new Error(`No matching contact for \"${searchName}\". Available: ${availableContacts}`);\n}\n\nconsole.log(`Best match: \"${bestMatch.fullName}\" (score: ${highestScore})`);\n\nreturn {\n  json: {\n    contact: bestMatch,\n    matchScore: highestScore,\n    searchName: searchName,\n    messageText: messageText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        520
      ],
      "id": "select-best-match-node",
      "name": "Select Best Match"
    },
    {
      "parameters": {
        "jsCode": "// Extract and normalize phone number from best match\nconst contact = $json.contact;\nconst messageText = $json.messageText;\n\nif (!contact || !contact.phones || contact.phones.length === 0) {\n  throw new Error(`Contact \"${contact?.fullName || 'unknown'}\" has no phone number`);\n}\n\n// Prioritize CELL/MOBILE phones\nconst cellPhones = contact.phones.filter(p => \n  p.type === 'CELL' || p.type === 'MOBILE' || p.type === 'VOICE'\n);\n\nconst phoneToUse = cellPhones.length > 0 \n  ? cellPhones[0].number \n  : contact.phones[0].number;\n\n// Normalize phone number\nlet normalized = phoneToUse\n  .replace(/[\\s\\-\\(\\)]/g, '')\n  .replace(/^00/, '+')\n  .replace(/^\\+/, '');\n\n// Handle Austrian local numbers\nif (normalized.startsWith('0')) {\n  normalized = '43' + normalized.substring(1);\n}\n\nreturn {\n  number: normalized,\n  text: messageText,\n  contactName: contact.fullName,\n  originalPhone: phoneToUse,\n  matchScore: $json.matchScore\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        520
      ],
      "id": "extract-phone-node",
      "name": "Extract and Normalize Phone"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution_api:8080/message/sendText/niles-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1460,
        368
      ],
      "id": "177ef632-d3ca-44e3-990b-62283a54932a",
      "name": "Send to Phone"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen 2.5 7B MLX": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Route: Group or Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Group or Phone?": {
      "main": [
        [
          {
            "node": "Fetch WhatsApp Groups",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check: Name or Number?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch WhatsApp Groups": {
      "main": [
        [
          {
            "node": "Match Group by Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Group by Name": {
      "main": [
        [
          {
            "node": "Send to Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Name or Number?": {
      "main": [
        [
          {
            "node": "Send to Phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CardDAV Contact Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CardDAV Contact Lookup": {
      "main": [
        [
          {
            "node": "Parse Contact URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Contact URLs": {
      "main": [
        [
          {
            "node": "Get vCard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get vCard": {
      "main": [
        [
          {
            "node": "Parse vCard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse vCard": {
      "main": [
        [
          {
            "node": "Select Best Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Best Match": {
      "main": [
        [
          {
            "node": "Extract and Normalize Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract and Normalize Phone": {
      "main": [
        [
          {
            "node": "Send to Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
