workflows/Niles-hybrid.json
{
  "name": "Niles AI Agent (Hybrid)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1040,
        192
      ],
      "id": "4180efb0-0859-4a60-b1f0-950d3e0fafdf",
      "name": "When chat message received",
      "webhookId": "c8af9ddc-3a28-4114-ac8e-9e128243eec4"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Du bist ein WhatsApp-Nachrichtenparser. Extrahiere aus der Benutzeranfrage folgende Informationen und gib sie als JSON zurück:\n\n{\n  \"isGroup\": true/false,\n  \"target\": \"Gruppenname\" oder \"Telefonnummer\",\n  \"text\": \"Der zu sendende Nachrichtentext\"\n}\n\nREGELN:\n1. isGroup = true wenn der Benutzer \"Gruppe\" erwähnt oder einen Gruppennamen nennt\n2. isGroup = false wenn eine Telefonnummer angegeben wird\n3. target = Gruppenname (z.B. \"Group Chat\") ODER Telefonnummer (normalisiert ohne +, 00, Leerzeichen)\n4. text = Der EXAKTE Nachrichtentext wie vom Benutzer formuliert\n\nBEISPIELE:\n\"sende an +436601234567 mit 'Hi'\" → {\"isGroup\": false, \"target\": \"436601234567\", \"text\": \"Hi\"}\n\"sende an Gruppe Family Group mit 'Hallo!'\" → {\"isGroup\": true, \"target\": \"Family Group\", \"text\": \"Hallo!\"}\n\"schreib der Group Chat Gruppe 'Hey Leute'\" → {\"isGroup\": true, \"target\": \"Group Chat\", \"text\": \"Hey Leute\"}\n\"sende eine Whatsapp Nachricht an die Gruppe \\\"Group Chat\\\" mit der Nachricht \\\"Hey wie geht's\\\"?\" → {\"isGroup\": true, \"target\": \"Group Chat\", \"text\": \"Hey wie geht's\"}\n\nGib NUR das JSON zurück, keine zusätzlichen Erklärungen."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -720,
        192
      ],
      "id": "1c6daad3-67cb-46fe-a773-39eab64a4f18",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen2.5-coder-7b-instruct-mlx",
          "mode": "list",
          "cachedResultName": "qwen2.5-coder-7b-instruct-mlx"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -720,
        400
      ],
      "id": "ae79546a-9aaf-4c01-91d0-5db9982708e7",
      "name": "Qwen 2.5 7B MLX",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "openAiApi": {
          "id": "AqnBdqvoLrHHdaVG",
          "name": "Local Qwen"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent output\nconst aiOutput = $json.output || '';\n\n// Try to extract JSON from AI response\nlet parsed;\ntry {\n  // Remove markdown code blocks if present\n  const cleaned = aiOutput.replace(/```json\\n?|```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(`Failed to parse AI output as JSON: ${aiOutput}`);\n}\n\nconst isGroup = parsed.isGroup === true;\nconst target = parsed.target || '';\nconst text = parsed.text || '';\n\nif (!target || !text) {\n  throw new Error('AI did not extract target and text correctly');\n}\n\nreturn {\n  isGroup: isGroup,\n  target: target,\n  text: text,\n  // For phone: normalize the number\n  number: isGroup ? '' : target.replace(/[\\s\\+]/g, '').replace(/^00/, ''),\n  // For group: store name for matching\n  groupName: isGroup ? target.toLowerCase() : ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        192
      ],
      "id": "755eda90-c399-46fc-be72-93b4b862ed7b",
      "name": "Parse AI Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-is-group",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.isGroup }}",
              "rightValue": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        192
      ],
      "id": "7772b513-a264-4f95-852d-21327eaca0dc",
      "name": "Route: Group or Phone?"
    },
    {
      "parameters": {
        "url": "http://evolution_api:8080/group/fetchAllGroups/niles-whatsapp?getParticipants=false",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "d64a723e-3ec8-4c32-9eb1-5e1a5d83305c",
      "name": "Fetch WhatsApp Groups"
    },
    {
      "parameters": {
        "jsCode": "const groupName = $('Parse AI Output').first().json.groupName;\n\n// Get all groups from previous node (n8n splits array into multiple items)\nconst groups = $input.all().map(item => item.json);\n\nif (groups.length === 0) {\n  throw new Error('Keine WhatsApp-Gruppen verfügbar. Ist WhatsApp verbunden?');\n}\n\n// Find matching group using partial match (case-insensitive)\nconst matchedGroup = groups.find(g =>\n  (g.subject?.toLowerCase() || '').includes(groupName)\n);\n\nif (!matchedGroup) {\n  const availableGroups = groups.map(g => g.subject).filter(Boolean).join(', ');\n  throw new Error(`Gruppe \"${groupName}\" wurde nicht gefunden. Verfügbare Gruppen: ${availableGroups || '(keine)'}`);\n}\n\n// Return the group JID (format: 120363xxx@g.us)\nreturn {\n  number: matchedGroup.id,\n  text: $('Parse AI Output').first().json.text,\n  groupFound: true,\n  groupName: matchedGroup.subject\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "10d414b8-d4f4-413b-b7e3-8fe4f9a4e57b",
      "name": "Match Group by Name"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution_api:8080/message/sendText/niles-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        0
      ],
      "id": "0878166f-a4a7-4607-b3e2-4b9c6ca99cc2",
      "name": "Send to Group"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution_api:8080/message/sendText/niles-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        368
      ],
      "id": "177ef632-d3ca-44e3-990b-62283a54932a",
      "name": "Send to Phone"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen 2.5 7B MLX": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Route: Group or Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Group or Phone?": {
      "main": [
        [
          {
            "node": "Fetch WhatsApp Groups",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send to Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch WhatsApp Groups": {
      "main": [
        [
          {
            "node": "Match Group by Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Group by Name": {
      "main": [
        [
          {
            "node": "Send to Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "de5f33c0-f1d6-4674-9703-df970e69ebc9",
  "meta": {
    "instanceId": "39144f6df16e1c2f4e4d367c9c17d3e054797a9b4c0736b11e20a857fb329f3d"
  },
  "id": "IyA7QHfar8ZKm4Q5",
  "tags": []
}