workflows/Niles-hybrid.json
{
  "name": "Niles AI Agent (Hybrid)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -400,
        0
      ],
      "id": "6db04ba3-be83-4f6e-8d28-bba6e49954c7",
      "name": "When chat message received",
      "webhookId": "c8af9ddc-3a28-4114-ac8e-9e128243eec4"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Du bist ein WhatsApp-Nachrichtenparser. Extrahiere aus der Benutzeranfrage folgende Informationen und gib sie als JSON zurück:\n\n{\n  \"isGroup\": true/false,\n  \"target\": \"Gruppenname\" oder \"Telefonnummer\",\n  \"text\": \"Der zu sendende Nachrichtentext\"\n}\n\nREGELN:\n1. isGroup = true wenn der Benutzer \"Gruppe\" erwähnt oder einen Gruppennamen nennt\n2. isGroup = false wenn eine Telefonnummer angegeben wird\n3. target = Gruppenname (z.B. \"Group Chat\") ODER Telefonnummer (normalisiert ohne +, 00, Leerzeichen)\n4. text = Der EXAKTE Nachrichtentext wie vom Benutzer formuliert\n\nBEISPIELE:\n\"sende an +436601234567 mit 'Hi'\" → {\"isGroup\": false, \"target\": \"436601234567\", \"text\": \"Hi\"}\n\"sende an Gruppe Family Group mit 'Hallo!'\" → {\"isGroup\": true, \"target\": \"Family Group\", \"text\": \"Hallo!\"}\n\"schreib der Group Chat Gruppe 'Hey Leute'\" → {\"isGroup\": true, \"target\": \"Group Chat\", \"text\": \"Hey Leute\"}\n\"sende eine Whatsapp Nachricht an die Gruppe \\\"Group Chat\\\" mit der Nachricht \\\"Hey wie geht's\\\"?\" → {\"isGroup\": true, \"target\": \"Group Chat\", \"text\": \"Hey wie geht's\"}\n\nGib NUR das JSON zurück, keine zusätzlichen Erklärungen."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        0
      ],
      "id": "a9d81522-74ed-45ea-9c1d-6b0df84907f1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen2.5-coder-7b-instruct-mlx",
          "mode": "list",
          "cachedResultName": "qwen2.5-coder-7b-instruct-mlx"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        208
      ],
      "id": "506d3ee1-054f-431e-868e-22270be7d836",
      "name": "Qwen 2.5 7B MLX",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "openAiApi": {
          "id": "AqnBdqvoLrHHdaVG",
          "name": "Local Qwen"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent output\nconst aiOutput = $json.output || '';\n\n// Try to extract JSON from AI response\nlet parsed;\ntry {\n  // Remove markdown code blocks if present\n  const cleaned = aiOutput.replace(/```json\\n?|```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(`Failed to parse AI output as JSON: ${aiOutput}`);\n}\n\nconst isGroup = parsed.isGroup === true;\nconst target = parsed.target || '';\nconst text = parsed.text || '';\n\nif (!target || !text) {\n  throw new Error('AI did not extract target and text correctly');\n}\n\nreturn {\n  isGroup: isGroup,\n  target: target,\n  text: text,\n  // For phone: normalize the number\n  number: isGroup ? '' : target.replace(/[\\s\\+]/g, '').replace(/^00/, ''),\n  // For group: store name for matching\n  groupName: isGroup ? target.toLowerCase() : ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "parse-ai-output",
      "name": "Parse AI Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-is-group",
              "operator": {
                "name": "filter.operator.equals",
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.isGroup }}",
              "rightValue": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ],
      "id": "route-group-or-phone",
      "name": "Route: Group or Phone?"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://evolution_api:8080/chat/fetchChats/niles-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        -180
      ],
      "id": "fetch-groups",
      "name": "Fetch WhatsApp Groups"
    },
    {
      "parameters": {
        "jsCode": "const groupName = $('Parse AI Output').first().json.groupName;\nconst allChats = $json.body || $json;\n\n// Filter for groups only (groups have JID ending with @g.us)\nconst groups = Array.isArray(allChats) ? allChats.filter(chat =>\n  (chat.id || chat.jid)?.endsWith('@g.us')\n) : [];\n\nif (groups.length === 0) {\n  throw new Error('Keine WhatsApp-Gruppen verfügbar. Ist WhatsApp verbunden?');\n}\n\n// Find matching group using partial match (case-insensitive)\nconst matchedGroup = groups.find(g =>\n  (g.subject?.toLowerCase() || '').includes(groupName) ||\n  (g.name?.toLowerCase() || '').includes(groupName)\n);\n\nif (!matchedGroup) {\n  const availableGroups = groups.map(g => g.subject || g.name).filter(Boolean).join(', ');\n  throw new Error(`Gruppe \"${groupName}\" wurde nicht gefunden. Verfügbare Gruppen: ${availableGroups || '(keine)'}`);\n}\n\n// Return the group JID (format: 120363xxx@g.us)\nreturn {\n  number: matchedGroup.id || matchedGroup.jid,\n  text: $('Parse AI Output').first().json.text,\n  groupFound: true,\n  groupName: matchedGroup.subject || matchedGroup.name\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -180
      ],
      "id": "match-group",
      "name": "Match Group by Name"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution_api:8080/message/sendText/niles-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        -180
      ],
      "id": "send-to-group",
      "name": "Send to Group"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution_api:8080/message/sendText/niles-whatsapp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.number }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        180
      ],
      "id": "send-to-phone",
      "name": "Send to Phone"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen 2.5 7B MLX": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Route: Group or Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Group or Phone?": {
      "main": [
        [
          {
            "node": "Fetch WhatsApp Groups",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send to Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch WhatsApp Groups": {
      "main": [
        [
          {
            "node": "Match Group by Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Group by Name": {
      "main": [
        [
          {
            "node": "Send to Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "hybrid-v1",
  "meta": {
    "instanceId": "39144f6df16e1c2f4e4d367c9c17d3e054797a9b4c0736b11e20a857fb329f3d"
  },
  "id": "NilesHybrid001",
  "tags": []
}
