workflows/sync-contacts.json
{
  "name": "Sync Contacts from CardDAV",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-600, 0],
      "id": "schedule-trigger",
      "name": "Daily Sync (03:00)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-600, 200],
      "id": "manual-trigger",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS contacts (\n    id SERIAL PRIMARY KEY,\n    full_name TEXT NOT NULL,\n    first_name TEXT,\n    last_name TEXT,\n    phone_primary TEXT,\n    phone_mobile TEXT,\n    phone_work TEXT,\n    email TEXT,\n    cardav_uid TEXT UNIQUE,\n    cardav_url TEXT,\n    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\nCREATE INDEX IF NOT EXISTS idx_contacts_full_name ON contacts(full_name);\nCREATE INDEX IF NOT EXISTS idx_contacts_phone ON contacts(phone_primary);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-340, 100],
      "id": "init-db",
      "name": "Init Contacts Table",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Niles PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "method": "PROPFIND",
        "url": "https://dav.example.com/carddav/32",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "davApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Depth",
              "value": "1"
            },
            {
              "name": "Content-Type",
              "value": "application/xml; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text",
        "body": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<D:propfind xmlns:D=\"DAV:\">\n  <D:prop>\n    <D:displayname/>\n  </D:prop>\n</D:propfind>",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-80, 100],
      "id": "carddav-propfind",
      "name": "CardDAV PROPFIND"
    },
    {
      "parameters": {
        "jsCode": "// Extract ALL vCard URLs from PROPFIND response (no limit)\nconst xml = $input.first().json.data || '';\n\nif (!xml || xml.length < 100) {\n  throw new Error('Keine XML-Daten von CardDAV erhalten. Prüfe Credentials und Adressbuch-ID.');\n}\n\n// Namespace-agnostic regex for href with .vcf\nconst hrefRegex = /<(?:[dD]:)?href[^>]*>\\s*([^<]*\\.vcf)\\s*<\\/(?:[dD]:)?href>/gi;\nconst urls = [];\nlet match;\n\nwhile ((match = hrefRegex.exec(xml)) !== null) {\n  const url = match[1].trim();\n  if (url) urls.push(url);\n}\n\nif (urls.length === 0) {\n  throw new Error('Keine vCard-URLs gefunden. Prüfe CardDAV Credentials und Adressbuch-ID.');\n}\n\nconsole.log(`Found ${urls.length} contact URLs to sync`);\n\nreturn urls.map(url => ({\n  json: { contactUrl: url }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 100],
      "id": "parse-urls",
      "name": "Parse Contact URLs"
    },
    {
      "parameters": {
        "url": "=https://dav.example.com{{ $json.contactUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "davApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "vCardData"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [400, 100],
      "id": "get-vcard",
      "name": "Get vCard"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse vCard into structured JSON for PostgreSQL\nconst vCardText = $json.vCardData || $json.data || '';\nconst contactUrl = $('Parse Contact URLs').item.json.contactUrl || '';\n\nif (!vCardText.includes('BEGIN:VCARD')) {\n  return { _skip: true };\n}\n\nconst lines = vCardText.split(/\\r?\\n/);\nconst contact = {\n  full_name: '', first_name: '', last_name: '',\n  phone_primary: '', phone_mobile: '', phone_work: '',\n  email: '', cardav_uid: '', cardav_url: contactUrl\n};\n\nfor (const line of lines) {\n  if (line.startsWith('FN:')) {\n    contact.full_name = line.substring(3).trim();\n  }\n  if (line.startsWith('N:')) {\n    const parts = line.substring(2).split(';');\n    contact.last_name = (parts[0] || '').trim();\n    contact.first_name = (parts[1] || '').trim();\n  }\n  if (line.startsWith('TEL')) {\n    const telMatch = line.match(/TEL[^:]*:(.+)/);\n    if (telMatch) {\n      const number = telMatch[1].trim();\n      const typeMatch = line.match(/TYPE=([^;:]+)/);\n      const type = typeMatch ? typeMatch[1].toUpperCase() : 'OTHER';\n      if (type === 'CELL' || type === 'MOBILE') {\n        contact.phone_mobile = contact.phone_mobile || number;\n      } else if (type === 'WORK') {\n        contact.phone_work = contact.phone_work || number;\n      } else {\n        contact.phone_primary = contact.phone_primary || number;\n      }\n    }\n  }\n  if (line.startsWith('EMAIL')) {\n    const emailMatch = line.match(/EMAIL[^:]*:(.+)/);\n    if (emailMatch) contact.email = contact.email || emailMatch[1].trim();\n  }\n  if (line.startsWith('UID:')) {\n    contact.cardav_uid = line.substring(4).trim();\n  }\n}\n\n// Fallback UID from URL\nif (!contact.cardav_uid) {\n  contact.cardav_uid = contactUrl.replace(/.*\\//, '').replace('.vcf', '');\n}\n\nif (!contact.full_name && !contact.first_name) {\n  return { _skip: true };\n}\n\nif (!contact.full_name) {\n  contact.full_name = `${contact.first_name} ${contact.last_name}`.trim();\n}\n\n// Escape single quotes for SQL interpolation (prevents O'Brien etc. from breaking)\nfor (const key of Object.keys(contact)) {\n  if (typeof contact[key] === 'string') {\n    contact[key] = contact[key].replace(/'/g, \"''\");\n  }\n}\n\nreturn contact;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 100],
      "id": "parse-vcard",
      "name": "Parse vCard"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "skip-invalid",
              "operator": {
                "name": "filter.operator.notExists",
                "type": "boolean",
                "operation": "notExists"
              },
              "leftValue": "={{ $json._skip }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [860, 100],
      "id": "filter-valid",
      "name": "Filter Valid Contacts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contacts (full_name, first_name, last_name, phone_primary, phone_mobile, phone_work, email, cardav_uid, cardav_url, updated_at)\nVALUES ('{{ $json.full_name }}', '{{ $json.first_name }}', '{{ $json.last_name }}', '{{ $json.phone_primary }}', '{{ $json.phone_mobile }}', '{{ $json.phone_work }}', '{{ $json.email }}', '{{ $json.cardav_uid }}', '{{ $json.cardav_url }}', NOW())\nON CONFLICT(cardav_uid) DO UPDATE SET\n    full_name = EXCLUDED.full_name,\n    first_name = EXCLUDED.first_name,\n    last_name = EXCLUDED.last_name,\n    phone_primary = EXCLUDED.phone_primary,\n    phone_mobile = EXCLUDED.phone_mobile,\n    phone_work = EXCLUDED.phone_work,\n    email = EXCLUDED.email,\n    updated_at = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 40],
      "id": "upsert-contact",
      "name": "Upsert Contact",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Niles PostgreSQL"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Sync (03:00)": {
      "main": [
        [
          {
            "node": "Init Contacts Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Init Contacts Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Contacts Table": {
      "main": [
        [
          {
            "node": "CardDAV PROPFIND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CardDAV PROPFIND": {
      "main": [
        [
          {
            "node": "Parse Contact URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Contact URLs": {
      "main": [
        [
          {
            "node": "Get vCard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get vCard": {
      "main": [
        [
          {
            "node": "Parse vCard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse vCard": {
      "main": [
        [
          {
            "node": "Filter Valid Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Contacts": {
      "main": [
        [
          {
            "node": "Upsert Contact",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {}
}
